
/*************** Typography *****************/
:root {
	font-size: 62.5%;
	--brand-black: #000;
	--brand-white: #fff;
	--brand-primary: #0f62fe;
	--brand-primary-light: #bae6ff;
	--brand-secondary: #f7f3f2;
	--brand-secondary-light: #fcf4d6;
	--brand-mute: #666666;
	--brand-light: #eeeeee;
	--brand-darker: #202020;
	--brand-dark: #393939;
}

body {
	color: var(--brand-black);
	font: normal 1.6rem/100% 'IBM Plex Sans', sans-serif;
	background-color: var(--brand-white);
}

h1,
.h1 {
	font-size: 6rem;
	font-weight: 400;
	margin-bottom: 2rem;
}

h1 strong,
.h1 strong {
	font-weight: 700;
}

h2,
.h2 {
	font-size: 5rem;
	font-weight: 400;
}

.h2-alt {
	font-size: 4.2rem;
	font-weight: 400;
}

h4,
.h4 {
	font-size: 2.4rem;
	font-weight: 400;
}

h5,
.h5 {
	font-size: 1.6rem;
	font-weight: 500;
}

p {
	margin-bottom: 2rem;
	line-height: 2;
}

.muted-heading {
	font-size: 1.4rem !important;
	color: var(--brand-mute);
	text-transform: uppercase;
	line-height: 2;
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 2rem;
}

/*************** General style *****************/
.icon {
	margin-bottom: 6rem;
}

.bg-dark {
	color: var(--brand-white);
	background-color: var(--brand-dark) !important;
}

.bg-black {
	color: var(--brand-white);
	background-color: var(--brand-black) !important;
}

/*************** Bootstrap components over rides *****************/

.btn {
	font-size: 1.4rem;
	padding: 2rem;
	border-radius: 0;
}

.btn-sm {
	padding: 0 10px !important;
	line-height: 2;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary.focus,
.btn-primary:focus {
	background-color: var(--brand-primary);
	border-color: var(--brand-primary);
}

.bg-gray {
	background-color: #eaeaea;
}

.bg-darker {
	background-color: var(--brand-darker);
}

a.bg-dark:focus,
a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
	background-color: var(--brand-primary) !important;
}

/*************** Navigation *****************/
.navbar-collapse {
	-webkit-transition: height 0.2s ease;
	-o-transition: height 0.2s ease;
	transition: height 0.2s ease;
}

.page-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

.navbar-dark {
	background-color: var(--brand-black);
}

.nav-link,
.navbar-brand {
	color: var(--brand-white);
	font-size: 1.4rem;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--brand-white);
}

.hover-dropdown {
	height: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	background-color: var(--brand-darker);
	-webkit-transition: height 0.2s ease;
	-o-transition: height 0.2s ease;
	transition: height 0.2s ease;
}

.menu-hover:hover .hover-dropdown.product {
	height: 277px;
}

.menu-hover:hover .hover-dropdown.solutions {
	height: 366px;
}

.hover-dropdown a {
	text-decoration: none;
}

.highlight.bg-darker {
	background-color: var(--brand-darker);
}

.highlight {
	padding: 3rem 4rem;
	background-color: var(--brand-dark);
}

.highlight .highlight-bottom {
	padding-top: 6.5rem;
}

.highlight .muted-heading {
	font-size: 1.2rem !important;
}

.highlight h4 {
	font-size: 2rem;
	color: var(--brand-white);
}

.highlight h5,
.highlight p {
	color: var(--brand-white);
}

.highlight a.btn {
	border: 1px solid var(--brand-mute);
	color: rgba(255, 255, 255, 0.5);
}

.highlight a.btn:hover {
	border: 1px solid var(--brand-primary);
	color: var(--brand-white);
}

.pages {
	height: 100%;
}

.pages .muted-heading {
	border-bottom: 1px solid #3c3c3c;
}

.pages .muted-heading::after {
	content: '';
}

.pages .page-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: var(--brand-white);
	padding: 3.6rem 2rem;
	height: 100%;
	width: 100%;
	border: none;
	background-color: transparent;
}

.pages .page-link .highlight {
	padding: 0 2rem;
}

.pages .page-link .highlight svg {
	margin-bottom: 8rem;
}

.pages .page-link:hover,
.pages .page-link:hover .highlight {
	background-color: var(--brand-primary);
}

.mobile .navbar-nav {
	margin-left: -2.5rem;
	margin-right: -2.5rem !important;
}

.mobile .nav-link {
	padding: 1.9rem 2.5rem;
}

.mobile .nav-link.dropdown-toggle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.mobile .nav-link.dropdown-toggle:hover,
.mobile .nav-link.dropdown-toggle:active {
	background: var(--brand-primary);
}

.navbar-nav .dropdown-menu {
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
	border-radius: 0;
}

.navbar-nav .dropdown-item {
	margin: 0;
	padding: 1.9rem 2.5rem;
	color: var(--brand-white);
	background-color: var(--brand-dark);
}

/*************** hero banner *****************/
.hero-banner {
	padding-top: 12rem;
}

.hero-banner p {
	font-size: 1.8rem;
	line-height: 3rem;
}

/*************** mission cards *****************/

.container-snap {
	position: -webkit-sticky;
	position: sticky;
	top: 13rem;
}

.scroll-snap-cards section {
	position: -webkit-sticky;
	position: sticky;
	top: 13rem;
}

/*************** mission section *****************/
.white-box {
	background-color: var(--brand-white);
	padding: 6rem;
}

/*************** Team section *****************/
.card-list [class*='col-'] {
	margin-bottom: 2rem;
	padding: 0 0.8rem;
}

.card-list [class*='col-']:first-child {
	padding-left: 15px;
}

.card-list [class*='col-']:last-child {
	padding-right: 15px;
}

.card {
	height: 100%;
	/* margin-bottom: 2rem; */
	border: 1px solid var(--brand-light);
	border-radius: 0;
}

.card-img-top-bg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: var(--brand-secondary);
}

.card-img-top {
	width: 16rem;
	margin: 3.5rem auto;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.card-body {
	padding: 2rem 3rem;
}

.card-subtitle {
	margin-top: 1rem;
}

.card-social ul.social {
	padding-left: 0;
}

.card-social ul.social .item {
	display: inline-block;
	padding-left: 1.8rem;
}

.card-social ul.social .item:first-child {
	padding-left: 0;
}

/*************** testimonial section *****************/

.testimonial .swiper-slide {
	padding: 10.1rem 0;
}

.testimonial .swiper-slide:first-child {
	background-color: var(--brand-primary-light);
}

.testimonial .swiper-slide:nth-child(2) {
	background-color: var(--brand-secondary);
}

.testimonial .swiper-slide:nth-child(3) {
	background-color: var(--brand-secondary-light);
}

.testimonial .swiper-slide img {
	padding: 2rem 0 4rem;
}

.testimonial .swiper-slide blockquote {
	font-size: 2.8rem;
	line-height: 1.4;
}

.profile .avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.profile .avatar img {
	padding: 0;
	border-radius: 50%;
}

.swiper-pagination {
	text-align: left;
	bottom: 12rem;
}

.swiper-pagination-bullet {
	width: 1rem;
	height: 1rem;
	margin-left: 0.5rem;
	text-align: left;
	bottom: 12rem;
	opacity: 0.5;
	border-radius: 0.3rem;
	background: var(--brand-white);
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background-color: var(--brand-white);
}

/*************** footer section *****************/
footer {
	padding: 8rem 0 4rem;
}

footer h5 {
	margin-bottom: 4rem;
}

footer ul {
	padding-left: 0;
}

footer ul h5 {
	font-size: 1.4rem;
	margin-bottom: 1.2rem;
}

footer ul li {
	list-style-type: none;
}

footer ul li ul {
	margin-bottom: 3rem;
}

footer ul li a {
	color: var(--brand-mute);
	font-weight: 500;
	line-height: 2;
	text-decoration: none;
}

footer ul li a:hover {
	color: var(--brand-white);
	text-decoration: none;
}

footer .social .item {
	line-height: 3;
}

.footer-bottom h4 {
	font-weight: bold;
}

.footer-bottom h4 small {
	color: var(--brand-mute);
	font-size: 62%;
	font-weight: 500;
}
