/*************** Typography *****************/
:root {
	font-size: 62.5%;
	--brand-black: #000;
	--brand-white: #fff;
	--brand-primary: #0f62fe;
	--brand-secondary: #F7F3F2;
	--brand-mute: #666666;
	--brand-light: #EEEEEE;
}

body {
	font: normal 1.6rem/100% 'IBM Plex Sans', sans-serif;
	background-color: var(--brand-white);
}

h1, .h1 {
	font-size: 6rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

h1 strong, .h1 strong {
	font-weight: 700
}

h2, .h2 {
	font-size: 5rem;
	font-weight: 400;
}

.h2-alt {
	font-size: 4.2rem;
	font-weight: 400;
}


h4, .h4 {
	font-size: 2.4rem;
    font-weight: 400;
}

p {
	margin-bottom: 2rem;
	line-height: 2
}

.muted-heading {
	font-size: 1.4rem !important;
    color: var(--brand-mute);
    text-transform: uppercase;
    font-weight: 500;
}

/*************** General style *****************/
.icon {
	margin-bottom: 6rem;
}

/*************** Bootstrap components over rides *****************/

.btn {
	font-size: 1.4rem;
    padding: 2rem;
	border-radius: 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary.focus,
.btn-primary:focus {
	background-color: var(--brand-primary);
	border-color: var(--brand-primary);
}

.bg-gray {
	background-color: #eaeaea;
}

/*************** Navigation *****************/
.navbar-dark {
	background-color: var(--brand-black);
}

.nav-link,
.navbar-brand {
	color: var(--brand-white);
	font-size: 1.4rem;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--brand-white);
}

/*************** hero banner *****************/
.hero-banner p {
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: 300
}

/*************** mission section *****************/
.white-box {
	background-color: var(--brand-white);
    padding: 6rem;
}

/*************** Team section *****************/
.card {
	border: 1px solid var(--brand-light);
    margin-bottom: 2rem;
}
.card-img-top-bg {
	display: flex;
	background-color: var(--brand-secondary);
}

.card-img-top {
	width: 16rem;
	margin: 3.5rem auto;
}

.card-body {
	padding: 2rem 3rem;
}

.card-social ul.social {
	padding-left: 0
}

.card-social ul.social .item {
	display: inline-block;
	padding-left: 1.8rem;
}

.card-social ul.social .item:first-child {
	padding-left: 0;
}